.screen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.map{
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
}